# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ml-front/node_modules
ml-api/node_modules
ml-front/.pnp
.pnp.js

# testing
ml-front/coverage
ml-api/coverage

# production
ml-front/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json


npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
node_modules
yarn.lock