// File: _variables.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colours
$primary_yellow: #f9f159;
$primary_blue: #4583fa;

$primary_text: #333;
$secondary_text: #666;

$background: #ebebeb;



/*
$primary_cancel: #ff677a;

/*
$primary_dubra_hover: #008ab9;
$primary_cancel_hover: #dc5262;

$secondary_text: #9c9c9c;
$secondary_gray: #dcdcdc;
$secondary_table: #f6f7fa;
*/


// Extra elements
//$raleway_font: 'Raleway', sans-serif;

// Sizes

// Breakpoints
$xs: 320px;
$xs_sm: 768px;
$sm_md: 992px;
$md_lg: 1200px;